@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Instruction{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    // top: 0;
    // left: auto;
    z-index: 10;
    height: 100%;
    width: 100%;
    .InstructionSet{
        
        position: absolute;
        top: 5vh;
        left: 5vw;
        
        height: 90%;
        width: 90%;
        border-radius: 2rem;
        background-color: #57575763;
        padding: 3rem;
        
        text-align: justify;

        @media (max-width: 760px) {
            overflow: auto;
        }
        @media (max-height:670px){
            overflow: auto;
        }
        h1{
            text-align: center;
            font-family: 'Kode Mono',cursive;
            font-weight: 100;
            padding-bottom: 3rem;
            .O1{
                color: #7ee9ff;
            }
            .O2{
                color: #ff2222;
            }
            .O3{
                color: #00ff00;
            }
        }
        hr{
            width: 100%;
            height: 0.5rem;
            background-color: #f84545;
            border: none;
            border-radius: 0.25rem;
        }
        h3{
            text-align: justify;

            display: flex;
            flex-direction: column;
            

            padding-top: 3rem;
            font-family: 'Josefin Sans';
            font-size: 2.5rem;
            font-weight: 350;
            color: #ffffff;

            ul{
                li{
                    line-height: 2.3rem;
                    padding-left: 3vw;
                    list-style-type: circle;
                    list-style-position: inside;
                    font-size: 1.5rem;
                    font-weight: 200;
                }
            }
        }
    }
}