*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myCard{
    z-index: 1;
    height: 100%;
    width: 100%;
    font-size: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    .Show-winner{
        z-index: 1;
        width: 100%;
        background-color: #000000;
        color: #ffe6c2;
        text-align: center;
    }
}